<div class="anouncement-block">
    <div class="anouncement-block__item">
        <div class="anouncement-block__content">
            <h3 class="anouncement-block__title">Ведение бухгалтерии</h3>
            <ul class="anouncement-block__list">
                <p>Подходит если:</p>
                <li>Lorem, ipsum dolor.</li>
                <li>Lorem ipsum dolor sit amet.</li>
                <li>Lorem, ipsum dolor.</li>
                <li>Lorem ipsum dolor sit amet.</li>
            </ul>
            <a href="javascript:;" class="anouncement-block__more">Подробнее</a>
        </div>
        <div class="anouncement-block__image">
            <img src="img/carousel-img.jpg" alt="">
        </div>
    </div>

    <div class="anouncement-block__item anouncement-block__item--img-left">
        <div class="anouncement-block__content">
            <h3 class="anouncement-block__title">Ведение бухгалтерии</h3>
            <ul class="anouncement-block__list">
                <p>Подходит если:</p>
                <li>Lorem, ipsum dolor.</li>
                <li>Lorem ipsum dolor sit amet.</li>
                <li>Lorem, ipsum dolor.</li>
                <li>Lorem ipsum dolor sit amet.</li>
            </ul>
            <a href="javascript:;" class="anouncement-block__more">Подробнее</a>
        </div>
        <div class="anouncement-block__image">
            <img src="img/carousel-img.jpg" alt="">
        </div>
    </div>
</div>