<div class="blog-block">
    <!-- <h3 class="blog-block__title">Блог и статьи с фотографиями</h3> -->

    <div class="blog-block__wrap">
        <a href="blog-detail.html" class="blog-block__item">
            <div class="blog-block__img">
                <img src="img/blog.jpg" alt="">
            </div>
            <div class="blog-block__date">11 ноября 2020</div>
            <div class="blog-block__name">
                Отказывают в регистрации ООО? Обращайтесь в Центр развития бизнеса "Берега Невы"
            </div>
            <div class="blog-block__text">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus, aliquam!
            </div>
        </a>
        <a href="blog-detail.html" class="blog-block__item">
            <div class="blog-block__img">
                <img src="img/blog.jpg" alt="">
            </div>
            <div class="blog-block__date">11 ноября 2020</div>
            <div class="blog-block__name">
                Отказывают в регистрации ООО? Обращайтесь в Центр развития бизнеса "Берега Невы"
            </div>
            <div class="blog-block__text">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus, aliquam!
            </div>
        </a>
        <a href="javascript:;" class="blog-block__item">
            <div class="blog-block__img">
                <img src="img/blog.jpg" alt="">
            </div>
            <div class="blog-block__date">11 ноября 2020</div>
            <div class="blog-block__name">
                Отказывают в регистрации ООО? Обращайтесь в Центр развития бизнеса "Берега Невы"
            </div>
            <div class="blog-block__text">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus, aliquam!
            </div>
        </a>
        <a href="javascript:;" class="blog-block__item">
            <div class="blog-block__img">
                <img src="img/blog.jpg" alt="">
            </div>
            <div class="blog-block__date">11 ноября 2020</div>
            <div class="blog-block__name">
                Отказывают в регистрации ООО? Обращайтесь в Центр развития бизнеса "Берега Невы"
            </div>
            <div class="blog-block__text">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus, aliquam!
            </div>
        </a>
        <a href="javascript:;" class="blog-block__item">
            <div class="blog-block__img">
                <img src="img/blog.jpg" alt="">
            </div>
            <div class="blog-block__date">11 ноября 2020</div>
            <div class="blog-block__name">
                Отказывают в регистрации ООО? Обращайтесь в Центр развития бизнеса "Берега Невы"
            </div>
            <div class="blog-block__text">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus, aliquam!
            </div>
        </a>
    </div>
    
</div>