<section class="section section-feedback">
    <div class="container">
        <div class="section-feedback__wrap">
            <div class="section-feedback__content">
                <h2 class="section-feedback__title">Задайте вопрос нашим специалистам</h2>
                <p class="section-feedback__text">Наши менеджеры ответят вам в течении ближайшего времени</p>
            </div>

            <form action="" class="section-feedback__form section-feedback__form--large">
                <label for="" class="section-feedback__label">
                    <input type="text" class="section-feedback__input section-feedback__input--error">
                    <span class="section-feedback__placeholder">Ваше имя</span>
                </label>
                <label for="" class="section-feedback__label">
                    <input type="text" class="section-feedback__input">
                    <span class="section-feedback__placeholder">Телефон</span>

                </label>
                <label for="" class="section-feedback__label">
                    <textarea name="" id="" class="section-feedback__textarea"></textarea>

                    <span class="section-feedback__placeholder">Ваш вопрос</span>

                </label>


                
                
                <!-- <div class="section-feedback__file">
                    <input type="file" name="section-feedback__input--file" id="section-feedback__input--file" class="section-feedback__input--file">
                    <label for="section-feedback__input--file" class="section-feedback__label--file">Прикрепить файл</label>
                </div> -->
                
                
                <div class="section-feedback__checkbox">
                    <input type="checkbox" name="agree" id="section-feedback__input--checkbox" class="section-feedback__input--checkbox" checked>
                    <label for="section-feedback__input--checkbox" class="section-feedback__label--checkbox">
                        Я ознакомлен и согласен на обработку персональных данных 
                        в соответствии с Политикой конфиденциальности.
                    </label>
                </div>

                <button type="submit" class="section-feedback__submit section-feedback__submit--large">
                    Отправить
                    <svg width="20.019" height="11.974">
                        <use xlink:href="img/icons/sprite.svg#submit-arrow"></use>
                    </svg>
                </button>
            </form>
        </div>
    </div>
    
</section>