<header class="header">
    
        <div class="header__wrap">
            <div class="header__wrap-top-fixed">
                <div class="header__wrap-top">
                    <div class="container">
                        <div class="header__wrap-top-content">
                            <a href="index.html" class="logo">
                                <img src="img/logo.svg" alt="logo" class="logo-desktop">
                                <img src="img/logo-small.svg" alt="logo" class="logo-fixed">
                            </a>
                            
                            <a href="service-section.html" class="header__top-services-link">Все услуги</a>

                            <ul class="header__menu">
                                <li class="header__menu-item"><a href="about.html" class="header__menu-link">О нас</a></li>
                                <li class="header__menu-item"><a href="blog-section.html" class="header__menu-link">Блог</a></li>
                                <li class="header__menu-item"><a href="news-section.html" class="header__menu-link">Новости</a></li>
                                <li class="header__menu-item"><a href="questions.html" class="header__menu-link">Вопросы и ответы</a></li>
                                <li class="header__menu-item"><a href="reviews.html" class="header__menu-link">Отзывы</a></li>
                                <li class="header__menu-item"><a href="contacts.html" class="header__menu-link">Контакты</a></li>
            
                            </ul>
                            
                            <div class="header__tel">
                                +7 (812) 748-51-93
                                <div class="header__tel-dropdown">
                                    <a href="javascript:;" class="header__tel-dropdown-link js-feedback-scroll">Заказать звонок</a>
                                    <a href="tel:+78127485193" class="header__tel-dropdown-link">Позвонить</a>
            
                                </div>
                            </div>
            
                            <div class="header__burger">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                    </div>
                        
                
                </div>
                
            </div>
            
            <div class="header__wrap-bottom">
                <div class="container">
                    <ul class="header__services-list">
        
                        <li class="header__services-item">
                            <a href="service-section.html" class="header__services-link">Все услуги</a>
                            
                            
                        </li>
                        <li class="header__services-item">
                            <a href="javascript:;" class="header__services-link">Популярные услуги</a>
                            <div class="header__services-dropdown">
                                <div class="header__services-dropdown-col">
                                    <ul class="header__services-dropdown-list">
                                        <li class="header__services-dropdown-item">
                                            <a href="javascript:;" class="header__services-dropdown-link header__services-dropdown-link--bold">Услуги</a>
                                        </li>
                                        <li class="header__services-dropdown-item">
                                            <a href="javascript:;" class="header__services-dropdown-link">Косультация</a>
                                        </li>
                                        <li class="header__services-dropdown-item">
                                            <a href="javascript:;" class="header__services-dropdown-link">Ведение бухгалтерии</a>
                                        </li>
                                        <li class="header__services-dropdown-item">
                                            <a href="javascript:;" class="header__services-dropdown-link">Восстановление бухучета</a>
                                        </li>
                                        <li class="header__services-dropdown-item">
                                            <a href="javascript:;" class="header__services-dropdown-link">Подключение ЭДО</a>
                                        </li>
                                        <li class="header__services-dropdown-item">
                                            <a href="javascript:;" class="header__services-dropdown-link">Кадровый учет</a>
                                        </li>
                                        <li class="header__services-dropdown-item">
                                            <a href="javascript:;" class="header__services-dropdown-link">Выписки из ЕГРЮЛ и ИГРИП</a>
                                        </li>
                                        <li class="header__services-dropdown-item">
                                            <a href="javascript:;" class="header__services-dropdown-link">СОУТ</a>
                                        </li>
                                        <li class="header__services-dropdown-item">
                                            <a href="javascript:;" class="header__services-dropdown-link">Ликвидация ЮЛ</a>
                                        </li>
                                    </ul>

                                    <a href="javascript:;" class="header__services-dropdown-more">Показать все услуги</a>
                                </div>

                                <div class="header__services-dropdown-col">
                                    <ul class="header__services-dropdown-list">
                                        <li class="header__services-dropdown-item">
                                            <a href="javascript:;" class="header__services-dropdown-link header__services-dropdown-link--bold">Проблемы</a>
                                        </li>
                                        <li class="header__services-dropdown-item">
                                            <a href="javascript:;" class="header__services-dropdown-link">Косультация</a>
                                        </li>
                                        <li class="header__services-dropdown-item">
                                            <a href="javascript:;" class="header__services-dropdown-link">Ведение бухгалтерии</a>
                                        </li>
                                        <li class="header__services-dropdown-item">
                                            <a href="javascript:;" class="header__services-dropdown-link">Восстановление бухучета</a>
                                        </li>
                                        <li class="header__services-dropdown-item">
                                            <a href="javascript:;" class="header__services-dropdown-link">Подключение ЭДО</a>
                                        </li>
                                        <li class="header__services-dropdown-item">
                                            <a href="javascript:;" class="header__services-dropdown-link">Кадровый учет</a>
                                        </li>
                                        <li class="header__services-dropdown-item">
                                            <a href="javascript:;" class="header__services-dropdown-link">Выписки из ЕГРЮЛ и ИГРИП</a>
                                        </li>
                                        <li class="header__services-dropdown-item">
                                            <a href="javascript:;" class="header__services-dropdown-link">Выписки из ЕГРЮЛ и ИГРИП</a>
                                        </li>
                                        <li class="header__services-dropdown-item">
                                            <a href="javascript:;" class="header__services-dropdown-link">СОУТ</a>
                                        </li>
                                        <li class="header__services-dropdown-item">
                                            <a href="javascript:;" class="header__services-dropdown-link">Ликвидация ЮЛ</a>
                                        </li>
                                    </ul>

                                    <a href="javascript:;" class="header__services-dropdown-more">Показать все услуги</a>
                                </div>

                                <div class="header__services-dropdown-banner">
                                    <div class="header__services-dropdown-banner-content">
                                        <h3 class="header__services-dropdown-banner-title">Получите бесплатную консультацию специалиста</h3>
                                        <div class="header__services-dropdown-banner-links">
                                            <a href="javascript:;" class="header__services-dropdown-banner-link">Telegram</a>
                                            <a href="javascript:;" class="header__services-dropdown-banner-link">WhatsApp</a>
                                            <a href="javascript:;" class="header__services-dropdown-banner-link js-feedback-scroll">Заказать звонок</a>
                                            <a href="javascript:;" class="header__services-dropdown-banner-link">Онлайн чат</a>
                                        </div>
                                        <a href="tel:+78127485193" class="header__services-dropdown-banner-phone">+7 (812) 748-51-93</a>
                                    </div>
                                    <div class="header__services-dropdown-banner-gift">
                                        <div class="header__services-dropdown-banner-gift-text">
                                            Регистрация ООО — 5400 руб.
                                            Счет в банке и печать в подарок
                                        </div>
                                        <a href="javascript:;" class="header__services-dropdown-banner-gift-link js-feedback-scroll">Заказать</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="header__services-item">
                            <a href="javascript:;" class="header__services-link">Для нового бизнеса</a>
                            <div class="header__services-dropdown">
                                <div class="header__services-dropdown-col">
                                    <ul class="header__services-dropdown-list">
                                        <li class="header__services-dropdown-item">
                                            <a href="javascript:;" class="header__services-dropdown-link header__services-dropdown-link--bold">Услуги</a>
                                        </li>
                                        <li class="header__services-dropdown-item">
                                            <a href="service-detail.html" class="header__services-dropdown-link">Косультация</a>
                                        </li>
                                        <li class="header__services-dropdown-item">
                                            <a href="service-detail.html" class="header__services-dropdown-link">Ведение бухгалтерии</a>
                                        </li>
                                        <li class="header__services-dropdown-item">
                                            <a href="service-detail.html" class="header__services-dropdown-link">Восстановление бухучета</a>
                                        </li>
                                        <li class="header__services-dropdown-item">
                                            <a href="service-detail.html" class="header__services-dropdown-link">Подключение ЭДО</a>
                                        </li>
                                        <li class="header__services-dropdown-item">
                                            <a href="service-detail.html" class="header__services-dropdown-link">Кадровый учет</a>
                                        </li>
                                        <li class="header__services-dropdown-item">
                                            <a href="service-detail.html" class="header__services-dropdown-link">Выписки из ЕГРЮЛ и ИГРИП</a>
                                        </li>
                                        <li class="header__services-dropdown-item">
                                            <a href="service-detail.html" class="header__services-dropdown-link">СОУТ</a>
                                        </li>
                                        <li class="header__services-dropdown-item">
                                            <a href="service-detail.html" class="header__services-dropdown-link">Ликвидация ЮЛ</a>
                                        </li>
                                    </ul>

                                    <a href="javascript:;" class="header__services-dropdown-more">Показать все услуги</a>
                                </div>

                                <div class="header__services-dropdown-col">
                                    <ul class="header__services-dropdown-list">
                                        <li class="header__services-dropdown-item">
                                            <a href="javascript:;" class="header__services-dropdown-link header__services-dropdown-link--bold">Проблемы</a>
                                        </li>
                                        <li class="header__services-dropdown-item">
                                            <a href="javascript:;" class="header__services-dropdown-link">Косультация</a>
                                        </li>
                                        <li class="header__services-dropdown-item">
                                            <a href="javascript:;" class="header__services-dropdown-link">Ведение бухгалтерии</a>
                                        </li>
                                        <li class="header__services-dropdown-item">
                                            <a href="javascript:;" class="header__services-dropdown-link">Восстановление бухучета</a>
                                        </li>
                                        <li class="header__services-dropdown-item">
                                            <a href="javascript:;" class="header__services-dropdown-link">Подключение ЭДО</a>
                                        </li>
                                        <li class="header__services-dropdown-item">
                                            <a href="javascript:;" class="header__services-dropdown-link">Кадровый учет</a>
                                        </li>
                                        <li class="header__services-dropdown-item">
                                            <a href="javascript:;" class="header__services-dropdown-link">Выписки из ЕГРЮЛ и ИГРИП</a>
                                        </li>
                                        <li class="header__services-dropdown-item">
                                            <a href="javascript:;" class="header__services-dropdown-link">Выписки из ЕГРЮЛ и ИГРИП</a>
                                        </li>
                                        <li class="header__services-dropdown-item">
                                            <a href="javascript:;" class="header__services-dropdown-link">СОУТ</a>
                                        </li>
                                        <li class="header__services-dropdown-item">
                                            <a href="javascript:;" class="header__services-dropdown-link">Ликвидация ЮЛ</a>
                                        </li>
                                    </ul>

                                    <a href="javascript:;" class="header__services-dropdown-more">Показать все услуги</a>
                                </div>

                                <div class="header__services-dropdown-banner banner-with-gift">
                                    <div class="header__services-dropdown-banner-content">
                                        <h3 class="header__services-dropdown-banner-title">Получите бесплатную консультацию специалиста</h3>
                                        <div class="header__services-dropdown-banner-links">
                                            <a href="javascript:;" class="header__services-dropdown-banner-link">Telegram</a>
                                            <a href="javascript:;" class="header__services-dropdown-banner-link">WhatsApp</a>
                                            <a href="javascript:;" class="header__services-dropdown-banner-link js-feedback-scroll">Заказать звонок</a>
                                            <a href="javascript:;" class="header__services-dropdown-banner-link">Онлайн чат</a>
                                        </div>
                                        <a href="tel:+78127485193" class="header__services-dropdown-banner-phone">+7 (812) 748-51-93</a>
                                    </div>
                                    <div class="header__services-dropdown-banner-gift">
                                        <div class="header__services-dropdown-banner-gift-text">
                                            Регистрация ООО — 5400 руб.
                                            Счет в банке и печать в подарок
                                        </div>
                                        <a href="javascript:;" class="header__services-dropdown-banner-gift-link js-feedback-scroll">Заказать</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="header__services-item">
                            <a href="javascript:;" class="header__services-link">Для существующего бизнеса</a>
                        </li>
                        <li class="header__services-item">
                            <a href="javascript:;" class="header__services-link">Для отраслей</a>
                        </li>

                    </ul>
                </div>
                    
                
                
            </div>
        </div>
    </div>

    <div class="header__mobile-menu">
        <ul class="header__mobile-menu-services">
            <li class="header__mobile-menu-services-item">
                <a href="services-section.html" class="header__mobile-menu-services-link">Все услуги</a>
                
            </li>
            <li class="header__mobile-menu-services-item header__mobile-menu-services-item--dropdown">
                <a href="javascript:;" class="header__mobile-menu-services-link">Популярные услуги</a>
                <div class="header__mobile-menu-services-dropdown">
                    <p>Услуги</p>

                    <ul class="header__mobile-menu-services-dropdown-list">
                        <li class="header__mobile-menu-services-dropdown-item">
                            <a href="javascript:;" class="header__mobile-menu-services-dropdown-link">Консультация</a>
                        </li>
    
                        <li class="header__mobile-menu-services-dropdown-item">
                            <a href="javascript:;" class="header__mobile-menu-services-dropdown-link">Ведение бухгалтерии</a>
                        </li>
    
                        <li class="header__mobile-menu-services-dropdown-item">
                            <a href="javascript:;" class="header__mobile-menu-services-dropdown-link">Восстановление бухучета</a>
                        </li>
    
                        <li class="header__mobile-menu-services-dropdown-item">
                            <a href="javascript:;" class="header__mobile-menu-services-dropdown-link">Подключение ЭДО</a>
                        </li>
    
                        <li class="header__mobile-menu-services-dropdown-item">
                            <a href="javascript:;" class="header__mobile-menu-services-dropdown-link">Кадровый учет</a>
                        </li>
    
                        <li class="header__mobile-menu-services-dropdown-item">
                            <a href="javascript:;" class="header__mobile-menu-services-dropdown-link">Выписки из ЕГРЮЛ и ИГРИП</a>
                        </li>
                    </ul>
                    
                    <p>Проблемы</p>

                    <ul class="header__mobile-menu-services-dropdown-list">
                        <li class="header__mobile-menu-services-dropdown-item">
                            <a href="javascript:;" class="header__mobile-menu-services-dropdown-link">Как проверить своего бухгалтера</a>
                        </li>
    
                        <li class="header__mobile-menu-services-dropdown-item">
                            <a href="javascript:;" class="header__mobile-menu-services-dropdown-link">Как сменить бухгалтера</a>
                        </li>
    
                        <li class="header__mobile-menu-services-dropdown-item">
                            <a href="javascript:;" class="header__mobile-menu-services-dropdown-link">Как сменить юридический адрес</a>
                        </li>
    
                        <li class="header__mobile-menu-services-dropdown-item">
                            <a href="javascript:;" class="header__mobile-menu-services-dropdown-link">ЧТо будет если не сделать СОУТ</a>
                        </li>
    
                        <li class="header__mobile-menu-services-dropdown-item">
                            <a href="javascript:;" class="header__mobile-menu-services-dropdown-link">Как перейти на УСН</a>
                        </li>
    
                        <li class="header__mobile-menu-services-dropdown-item">
                            <a href="javascript:;" class="header__mobile-menu-services-dropdown-link">Выгоден ли патент на УСН</a>
                        </li>
                    </ul>

                </div>
            </li>
            <li class="header__mobile-menu-services-item header__mobile-menu-services-item--dropdown">
                <a href="javascript:;" class="header__mobile-menu-services-link">Для нового бизнеса</a>
                <div class="header__mobile-menu-services-dropdown">
                    <p>Услуги</p>

                    <ul class="header__mobile-menu-services-dropdown-list">
                        <li class="header__mobile-menu-services-dropdown-item">
                            <a href="javascript:;" class="header__mobile-menu-services-dropdown-link">Консультация</a>
                        </li>
    
                        <li class="header__mobile-menu-services-dropdown-item">
                            <a href="javascript:;" class="header__mobile-menu-services-dropdown-link">Ведение бухгалтерии</a>
                        </li>
    
                        <li class="header__mobile-menu-services-dropdown-item">
                            <a href="javascript:;" class="header__mobile-menu-services-dropdown-link">Восстановление бухучета</a>
                        </li>
    
                        <li class="header__mobile-menu-services-dropdown-item">
                            <a href="javascript:;" class="header__mobile-menu-services-dropdown-link">Подключение ЭДО</a>
                        </li>
    
                        <li class="header__mobile-menu-services-dropdown-item">
                            <a href="javascript:;" class="header__mobile-menu-services-dropdown-link">Кадровый учет</a>
                        </li>
    
                        <li class="header__mobile-menu-services-dropdown-item">
                            <a href="javascript:;" class="header__mobile-menu-services-dropdown-link">Выписки из ЕГРЮЛ и ИГРИП</a>
                        </li>
                    </ul>
                    
                    <p>Проблемы</p>

                    <ul class="header__mobile-menu-services-dropdown-list">
                        <li class="header__mobile-menu-services-dropdown-item">
                            <a href="javascript:;" class="header__mobile-menu-services-dropdown-link">Как проверить своего бухгалтера</a>
                        </li>
    
                        <li class="header__mobile-menu-services-dropdown-item">
                            <a href="javascript:;" class="header__mobile-menu-services-dropdown-link">Как сменить бухгалтера</a>
                        </li>
    
                        <li class="header__mobile-menu-services-dropdown-item">
                            <a href="javascript:;" class="header__mobile-menu-services-dropdown-link">Как сменить юридический адрес</a>
                        </li>
    
                        <li class="header__mobile-menu-services-dropdown-item">
                            <a href="javascript:;" class="header__mobile-menu-services-dropdown-link">ЧТо будет если не сделать СОУТ</a>
                        </li>
    
                        <li class="header__mobile-menu-services-dropdown-item">
                            <a href="javascript:;" class="header__mobile-menu-services-dropdown-link">Как перейти на УСН</a>
                        </li>
    
                        <li class="header__mobile-menu-services-dropdown-item">
                            <a href="javascript:;" class="header__mobile-menu-services-dropdown-link">Выгоден ли патент на УСН</a>
                        </li>
                    </ul>

                </div>
            </li>
            <li class="header__mobile-menu-services-item header__mobile-menu-services-item--dropdown">
                <a href="javascript:;" class="header__mobile-menu-services-link">Для существующего бизнеса</a>
            </li>
            <li class="header__mobile-menu-services-item header__mobile-menu-services-item--dropdown">
                <a href="javascript:;" class="header__mobile-menu-services-link">Для отраслей</a>
            </li>
        </ul>

        <ul class="header__mobile-menu-pages">
            <li class="header__mobile-menu-pages-item">
                <a href="about.html" class="header__mobile-menu-pages-link">О нас</a>
            </li>
            <li class="header__mobile-menu-pages-item">
                <a href="blog-section.html" class="header__mobile-menu-pages-link">Блог</a>
            </li>
            <li class="header__mobile-menu-pages-item">
                <a href="news-section.html" class="header__mobile-menu-pages-link">Новости</a>
            </li>
            <li class="header__mobile-menu-pages-item">
                <a href="questions.html" class="header__mobile-menu-pages-link">Вопросы и ответы</a>
            </li>
            <li class="header__mobile-menu-pages-item">
                <a href="reviews.html" class="header__mobile-menu-pages-link">Отзывы</a>
            </li>
            <li class="header__mobile-menu-pages-item">
                <a href="contacts.html" class="header__mobile-menu-pages-link">Контакты</a>
            </li>
            
        </ul>

        <a href="tel:+78127485193" class="header__mobile-menu-phone">+7 (812) 748-51-93</a>
    </div>
    
</header>