<div class="image-carousel">
    <div class="image-carousel__item">
        <img src="img/carousel-img.jpg" alt="">
        <div class="image-carousel__descr">
            Комментарий к фотографии может быть 
длинным. Главное, чтобы он описывал 
или дополнял показанное на изображении.
        </div>
    </div>

    <div class="image-carousel__item">
        <img src="img/carousel-img.jpg" alt="">
        <div class="image-carousel__descr">
            Комментарий к фотографии может быть 
длинным. Главное, чтобы он описывал 
или дополнял показанное на изображении.
        </div>
    </div>
</div>