<h3>Нумерованный список</h3>
<ol>
                    
    <li>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi, deleniti!
    </li>
    <li>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi, deleniti!
    </li>
    <li>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi, deleniti!
    </li>
</ol>

<h3>Маркированный список</h3>

<ul>
    
    <li>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi, deleniti!
    </li>
    <li>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi, deleniti!
    </li>
    <li>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi, deleniti!
    </li>
</ul>