<div class="news-block">
    <!-- <h3 class="news-block__title">Новости без фотографий</h3> -->

    <div class="news-block__wrap">
        <a href="news-detail.html" class="news-block__item">
            <div class="news-block__date">16 января 2020</div>

            <div class="news-block__name">Спекуляция билетами отныне "вне закона"</div>

            <div class="news-block__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem tenetur cum, officiis facere autem vel adipisci beatae nulla accusamus natus.</div>

        </a>
        <a href="news-detail.html" class="news-block__item">
            <div class="news-block__date">16 января 2020</div>

            <div class="news-block__name">Спекуляция билетами отныне "вне закона"</div>

            <div class="news-block__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem tenetur cum, officiis facere autem vel adipisci beatae nulla accusamus natus.</div>

        </a>
        <a href="javascript:;" class="news-block__item">
            <div class="news-block__date">16 января 2020</div>

            <div class="news-block__name">Спекуляция билетами отныне "вне закона"</div>

            <div class="news-block__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem tenetur cum, officiis facere autem vel adipisci beatae nulla accusamus natus.</div>

        </a>
        <a href="javascript:;" class="news-block__item">
            <div class="news-block__date">16 января 2020</div>

            <div class="news-block__name">Спекуляция билетами отныне "вне закона"</div>

            <div class="news-block__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem tenetur cum, officiis facere autem vel adipisci beatae nulla accusamus natus.</div>

        </a>
        <a href="javascript:;" class="news-block__item">
            <div class="news-block__date">16 января 2020</div>

            <div class="news-block__name">Спекуляция билетами отныне "вне закона"</div>

            <div class="news-block__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem tenetur cum, officiis facere autem vel adipisci beatae nulla accusamus natus.</div>

        </a>
    </div>
</div>