<div class="pagination-block">
    <div class="pagination-block__wrap pagination-block__wrap--simple">
        <a href="javasctipt:;" class="pagination-block__item pagination-block__item--prev">
            <svg width="5.986" height="9.999">
                <use xlink:href="img/icons/sprite.svg#pag-prev"></use>
            </svg>
        </a>
        <a href="javasctipt:;" class="pagination-block__item pagination-block__item--next">
            <svg width="5.986" height="9.999">
                <use xlink:href="img/icons/sprite.svg#pag-next"></use>
            </svg>
        </a>
    </div>

    <div class="pagination-block__wrap pagination-block__wrap--text">
        <a href="javasctipt:;" class="pagination-block__item pagination-block__item--prev">
            <svg width="5.986" height="9.999">
                <use xlink:href="img/icons/sprite.svg#pag-prev"></use>
            </svg>

            Предыдущая
        </a>
        <a href="javasctipt:;" class="pagination-block__item pagination-block__item--next">
            Следующая
            <svg width="5.986" height="9.999">
                <use xlink:href="img/icons/sprite.svg#pag-next"></use>
            </svg>

            
        </a>
    </div>


    <div class="pagination-block__wrap pagination-block__wrap--numbers">
        <a href="javasctipt:;" class="pagination-block__item pagination-block__item--prev">
            <svg width="5.986" height="9.999">
                <use xlink:href="img/icons/sprite.svg#pag-prev"></use>
            </svg>

            Предыдущая
        </a>

        <a href="javascript:;" class="pagination-block__item pagination-block__item--number pagination-block__item--current">2</a>
        <a href="javascript:;" class="pagination-block__item pagination-block__item--number">3</a>
        <a href="javascript:;" class="pagination-block__item pagination-block__item--number">4</a>
        <a href="javascript:;" class="pagination-block__item pagination-block__item--number pagination-block__item--last">5</a>

        <a href="javasctipt:;" class="pagination-block__item pagination-block__item--next">
            Следующая
            <svg width="5.986" height="9.999">
                <use xlink:href="img/icons/sprite.svg#pag-next"></use>
            </svg>

            
        </a>
    </div>
</div>