<div class="quote-block quote-block--big">
                    
    <div class="quote-block__wrap">
        <div class="quote-block__item">
            <div class="quote-block__text">
                <p>
                    Открыл я как-то счет для своего ИП в одном небольшом банке. Расчет был именно на обслуживание. Однако через месяц
                    мой счет заблокировали из-за перечисления себе же 50 тысяч рублей. Без предупреждения и объяснения причин.
                    Счет я там, конечно, закрыл.
                </p>
            </div>
            <div class="quote-block__people">
                <div class="quote-block__image">
                    <img src="img/people.jpg" alt="">
                </div>
                <div class="quote-block__info">
                    <p class="quote-block__name">Андрей Иванов</p>
                    <p class="quote-block__profession">Главный бухгалтер</p>
                </div>
                
            </div>
        </div>                    
    </div>
</div>