<div class="services-block">
    <div class="services-block__item">
        <div class="services-block__item-name">
            <a href="javascript:;" class="service-block__item-link">Услуга с длинным заголовоком, скидкой и указанием количества часов (или другого)</a>
            <p class="services-block__item-text">При смене или добавлении видов деятельности не забудьте внести соответствующие изменения в ЕГРИП.</p>
        </div>
        <div class="services-block__item-content">
            <div class="services-block__item-col">
                <span class="services-block__item-col-info">Кол-во часов</span>
                <p class="services-block__item-col-value">256-350</p>
            </div>
            <div class="services-block__item-col">
                <span class="services-block__item-col-info old-price">4900 ₽</span>
                <p class="services-block__item-col-value">3900 ₽</p>
            </div>
            <div class="services-block__item-col">
                <a href="javascript:;" class="services-block__item-order">Заказать</a>
            </div>
        </div>
    </div>
    <div class="services-block__item">
        <div class="services-block__item-name">
            <a href="javascript:;" class="service-block__item-link">Услуга с длинным заголовоком, скидкой и указанием количества часов (или другого)</a>
            <p class="services-block__item-text">При смене или добавлении видов деятельности не забудьте внести соответствующие изменения в ЕГРИП.</p>
        </div>
        <div class="services-block__item-content">
            <div class="services-block__item-col">
                <span class="services-block__item-col-info">Кол-во часов</span>
                <p class="services-block__item-col-value">256-350</p>
            </div>
            <div class="services-block__item-col">
                <span class="services-block__item-col-info old-price">4900 ₽</span>
                <p class="services-block__item-col-value">3900 ₽</p>
            </div>
            <div class="services-block__item-col">
                
            </div>
        </div>
    </div>

    <div class="services-block__item">
        <div class="services-block__item-name">
            <a href="javascript:;" class="service-block__item-link">Услуга с длинным заголовоком, скидкой и указанием количества часов (или другого)</a>
            <p class="services-block__item-text">При смене или добавлении видов деятельности не забудьте внести соответствующие изменения в ЕГРИП.</p>
        </div>
        <div class="services-block__item-content">
            <div class="services-block__item-col">
                
            </div>
            <div class="services-block__item-col">
                <span class="services-block__item-col-info old-price">4900 ₽</span>
                <p class="services-block__item-col-value">3900 ₽</p>
            </div>
            <div class="services-block__item-col">
                
            </div>
        </div>
    </div>
</div>