.footer {
    &__subscribe {
        background-color: $red;
    }

    &__subscribe-wrap {
        display: flex;
        justify-content: space-between;
        padding: 14px 0;
        
    }

    &__subscribe-form {
        display: flex;
        align-items: center;
    }

    &__subscribe-title {
        color: $white;
        font-family: $bebas;
        font-weight: 400;
        font-size: 26px;
        line-height: 21px;
        margin-right: 40px;
    }

    &__subscribe-input {
        width: 227px;
        height: 36px;
        padding: 0 10px;
        border: none;
    
    }

    &__subscribe-submit {
        background: none;
        border: none;
        font-size: 14px;
        line-height: 29px;
        color: $white;
        text-decoration: underline;
        padding: 0 10px;
        cursor: pointer;
    }

    &__subscribe-social {
        display: flex;
        align-items: center;
        font-size: 16px;
        line-height: 29px;
        color: $white;
        line-height: 1;
        font-weight: 700;
    }

    &__subscribe-social__link {
        display: inline-block;
        padding: 0 5px;

        &:first-of-type {
            padding-left: 20px;
        }
    }

    &__wrap {
        display: flex;
        flex-wrap: wrap;
        padding-top: 48px;
    }

    &__col {
        flex-basis: 25%;
        padding-right: 15px;
    }

    &__row {
        flex-basis: 100%;
        border-top: 2px solid rgba($color: #000000, $alpha: 0.1);
        padding: 40px 0 54px;
        display: flex;
        justify-content: space-between;
    }

    &__list {
        margin-bottom: 40px;
        line-height: 1;
    }

    &__list-item--margin {
        margin-top: 25px;
    }

    &__list-link {
        font-size: 14px;
        line-height: 16px;
        color: #333333;
        transition: 0.3s;
        display: inline-block;
        margin-bottom: 8px;
        &:hover {
            color: rgba($color: #333333, $alpha: 0.6);
        }
    }

    &__list-link--bold {
        font-family: $bebas;
        font-weight: 700;
        font-size: 25px;
        line-height: 29px;
        display: inline-block;
        margin-bottom: 8px;
    }

    &__rules, &__company {
        font-size: 14px;
        line-height: 26px;
    }

    &__rules {
        max-width: 450px;
    }
}

// сообщения об успешной отправке
.success-msg {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 285px;
    width: 100%;
    height: 150px;
    
    background-color: $white;
    z-index: 4;
    padding: 24px;
    box-shadow: 0 16px 16px 0 rgba(0, 0, 0, 0.16);
    display: none;

    &__content {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        text-align: center;
    }

    &__close {
        position: absolute;
        right: 12px;
        top: 12px;
        cursor: pointer;
    }
}

//фиксированные кнопки в мобилке внизу окна
.button-fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    display: none;
    justify-content: space-between;
    align-items: center;

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
        height: 60px;
        border: 1px solid $white;
        background-color: $red;

        &.active {
            background-color: $white;
            border-color: $red;

            .button-fixed__item-text {
                color: $red;
            }

            use {
                fill: $red;
            }
        }

        use {
            fill: $white;
        }
    }

    

    &__item-text {
        font-family: $bebas;
        color: $white;
        font-size: 22px;
        line-height: 1;
        margin-left: 12px;
    }
}


//высплывающий блок с адресами
.address-block {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100vh - 60px);
    overflow: auto;
    background-color: $white;
    z-index: 4;
    display: none;
    
    &__item {
        padding: 18px 30px;
        font-size: 14px;
        font-weight: 400;
        line-height: 26px;
        color: #666666;
        transition: 0.3s;
        cursor: pointer;

        &:first-of-type {
            padding-top: 30px;
        }

        &:last-of-type {
            padding-bottom: 30px;
        }

    }

    &__item-name {
        font-family: $bebas;
        font-size: 25px;
        line-height: 29px;
        color: #666666;
        margin-bottom: 8px;
        position: relative;

        &:before {
            content: "";
            position: absolute;
            left: -40px;
            top: 0;
            bottom: 0;
            margin: auto;
            height: 4px;
            width: 32px;
            background-color: $red;
            opacity: 0;
            transition: 0.3s;
        }
    }

    &__close {
        position: absolute;
        top: 24px;
        right: 24px;
    }
}

@media screen and (max-width: 992px) {
    .footer {
        &__subscribe-wrap {
            flex-wrap: wrap;
            
        }

        &__subscribe-form {
            flex-wrap: wrap;
            width: 60%;
        }

        &__subscribe-title {
            flex-basis: 100%;
            margin-bottom: 10px;
        }
        
        &__col {
            flex-basis: calc(100% / 3);
            padding-right: 15px;
        }

        &__rules {
            flex-basis: 30%;
        }
    }
}

@media screen and (max-width: 768px) {
    .footer {
        &__subscribe-wrap {
            padding: 24px 0;
        }

        &__subscribe-form {
            order: 2;
            width: 100%;
            flex-direction: column;
            flex-wrap: wrap;
        }

        &__subscribe-title {
            margin-bottom: 16px;
            flex-basis: auto;
            margin-right: 0;
            text-align: center;
            line-height: 32px;
        }

        &__subscribe-social {
            order: 1;
            flex-basis: 100%;
            margin-bottom: 32px;
            justify-content: center;
        }

        &__col {
            flex-basis: 50%;
            padding-right: 15px;
            padding: 0;
        }

        &__list-link {
            font-size: 12px;
        }
    
        &__list-link--bold {
            font-size: 22px;
            line-height: 26px;
        }

        &__row {
            flex-wrap: wrap;
            border: none;
            padding: 0 0 40px;
        }

        &__rules, &__company {
            flex-basis: 100%;
            font-size: 14px;
            line-height: 26px;
        }

        &__rules {
            margin-bottom: 16px;
        }
    }
}

@media screen and (max-width: 576px) {
    //фиксированные кнопки в мобилке внизу окна
    .button-fixed {
        display: flex;
    }
}